.u-section-1 .u-sheet-1 {
  min-height: 1862px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 859px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-image-1 {
  width: 1003px;
  height: 637px;
  margin: 51px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 3rem;
  background-image: none;
  margin: 51px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 94px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 3rem;
  background-image: none;
  margin: 68px auto 60px 289px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1821px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 596px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1682px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 457px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1568px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 343px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 145px;
  }

  .u-section-1 .u-text-4 {
    margin-left: -11px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1441px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 216px;
    margin-left: -49px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 46px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-left: -49px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: -49px;
  }
}