.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px 0 60px;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  padding: 0;
}

.u-section-1 .u-btn-6 {
  padding: 0;
}

.u-section-1 .u-btn-7 {
  padding: 0;
}

.u-section-1 .u-btn-8 {
  padding: 0;
}